ansible==2.4.0.0
boto3==1.4.7
cffi==1.11.2
cryptography==1.8.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.18
Jinja2==2.9.6
MarkupSafe==1.0
paramiko==2.3.1
pyasn1==0.3.7
pycparser==2.18
pycrypto==2.6.1
PyYAML==3.12
six==1.10.0
