# ec2: {{ aws_environment }}
#
{% for host in groups['all']|sort %}
{% if 'ec2_vpc_id' in hostvars[host] %}
{% if hostvars[host]['ec2_vpc_id'] == aws_vpc_id %}
{% if 'ec2_tag_Name' in hostvars[host] %}
'{{ hostvars[host]['ec2_tag_Name'] }}':
{% for key, value in hostvars[host].items()|sort %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}

{% endif %}
{% endif %}
{% endfor %}